*{
    margin: 0px;
    padding: 0px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image:
    linear-gradient(
      rgba(62, 62, 62, 0.75),
      rgba(69, 69, 69, 0.75)), url('/src/img/glass-reflection-architecture-pattern.jpg');
    /* background-repeat: no-repeat; */
    }
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(0, 164, 167, 1);
    margin: auto;
    display: block;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
@media(max-width: 700px) {
    .text-box h1{
        font-size: 25px;
    }
    .text-box p{
        font-size: 16px;
    }
    .nav-links{
        position: absolute;
        background: rgba(0, 164, 167, 1);
        height: 100vh;
        width: 200px;
        top: 0px;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul li{
        display: block;
    }
    nav .fa{
        display: block;
        color: rgba(0, 164, 167, 1);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}
/* /////////////////////////for all pages //////////////// */
.course{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: rgba(0, 164, 167, 1);
}
p{
    color: rgba(0, 164, 167, 1) ;
    font-size: 14px;
    font-weight: 300 ;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top:  5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 20%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px  rgba(0, 164, 167, 1);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}